{% extends 'base.html' %} {% block content %}
<h1>A Place for Creatives</h1>
<hr />
<div>
    <div class="home-display">
        <img class="home-img" src="../static/images/Artists.jpeg" alt="artist" height="400">
        <div class="home1"><h3>Make</h3>
            <p>Your world as an artist...</p><br/>  
            <p>...created by you and your unique lens.</p><br/>
        </div>
        <img class="home-img" src="../static/images/UploadDude.jpeg" alt="artist" height="400">
        <div class="home2">
            <h3>Upload</h3>
            <p>Celebrate your creation by putting your piece in your gallery.</p>  
        </div>  
        <h2>Features Coming Soon!</h2>
        <div class="home3">
            <h3>Share</h3>
            <p>Share in the excitement of being discovered by other artist or enthusiasts while also finding people who inspire you!</p>
            <img class="home-img" src="../static/images/ArtShare.webp" alt="Share" width="711.11"> 
        </div>
        <div class="home4">
            <h3>Collect</h3>
            <p>Save pieces that inspire or impact you in your personalized collection.</p> 
            <img class="home-img" src="../static/images/Collection.jpeg" alt="Collect" width="711.11"> 
        </div>

    </div>
</div>


{% endblock %}
